/* Root */
:root {
  --primary-color: #db4444;
  --background-color-1: #fff;
  --background-color-2: #f5f5f5;
  --text-color: #000000;
  --text-color-light: #777;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--background-color-1); 
  border-radius: 47px;
  background-color: var(--primary-color);
  width: 32px;
  height: 32px;
}

.profile-icon i {
  color: var(--background-color-1); 
}

.profile-icon i:hover {
  color: var(--background-color-1);
}

/* Profile Section */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 94px 0;
  background: var(--background-color-1);
  min-height: calc(100vh - 120px);
}

.profile-box {
  max-width: 800px;
  width: 100%;
  background-color: var(--background-color-1);
  padding: 0 40px;
}

.profile-form-content {
  border-radius: 4px;
  padding: 40px 60px;
  background-color: var(--background-color-1);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.form-row {
  display: flex;
  gap: 50px;
  margin-bottom: 24px;
}

.input-group {
  flex: 1;
  margin-bottom: 16px;
}

.input-group label {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 8px;
  display: block;
  font-weight: 400;
}

.input-group input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  background-color: var(--background-color-2);
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  outline: none;
}

.input-group input::placeholder {
  color: var(--text-color-light);
}

.password-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 24px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  margin-top: 60px;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--background-color-1);
  border: none;
  padding: 16px 48px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  min-width: 140px;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-cancel {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
